.dinosaur-container {
  color: black;
  background-color: transparent;
}

.dinosaur-image {
  max-width: 100%;
  height: auto;
}

.dinosaur-image.placeholder {
  opacity: 0.8;
  filter: brightness(1.2);
}